<div id="timeInput" class="times-container">

    <div class="time-container">

        <label for="departureTime">Start:</label>
        <input type="date" id="departureDate">
        <input
        type="time"
        id="departureTime"
        name="departureTime"
        value="08:00"
        />
        
    </div>

    
    <div class="time-container">
        <label for="arrivalTime">Stop:</label>
        <input type="date" id="arrivalDate">
        <input
        type="time"
        id="arrivalTime"
        name="arrivalTime"
        value="16:00"
        />
    </div>

</div>