<div id="timeInput" class="times-container">

    <div class="time-input-container">

        <div class="time-container">

            <label for="departureTime">Start:</label>
            <input type="date" id="departureDate">
            <input
            type="time"
            id="departureTime"
            name="departureTime"
            value="08:00"
            />
            
        </div>

        
        <div class="time-container">
            <label for="arrivalTime">Stop:</label>
            <input type="date" id="arrivalDate">
            <input
            type="time"
            id="arrivalTime"
            name="arrivalTime"
            value="16:00"
            />
        </div>
    </div>
    
    <div class="slidecontainer">
        <div class="current-time">
            <label id="current-time-text">Showing Collective Data</label>
            <div id="current-time", style="display: none;">12:00</div>
        </div>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>

</div>