<header>
    <h1><a href="/home">Data Crowd</a></h1>
    <div class="button-container">
    {{#if userId}}
        
        {{#if_eq user.role 'business'}}
            <ul>
                <li><a href="/home" class="btn">&#8962; Home</a></li>
                <li><a href="/monitoring" class="btn">Monitoring</a></li>
                <li><a href="/analytics" class="btn">Analytics</a></li>
                <li><a href="/logout" class="btn">&#8635; Exit</a></li>
            </ul>
        {{/if_eq}}

        {{#if_eq user.role 'admin'}}
            <li><a href="/home" class="btn">&#8962; Home</a></li>
            <li><a href="/monitoring" class="btn">Monitoring</a></li>
            <li><a href="/analytics" class="btn">Analytics</a></li>
            <li><a href="/suggestions" class="btn">Suggestions</a></li>
            <li><a href="/heatmaps" class="btn">Heatmaps</a></li>
            <li><a href="/logout" class="btn">&#8635; Exit</a></li>
        {{/if_eq}}

        {{#if_eq user.role 'citizen'}}
            <li><a href="/home" class="btn">&#8962; Home</a></li>
            <li><a href="/suggestions" class="btn">Suggestions</a></li>
            <li><a href="/heatmaps" class="btn">Heatmaps</a></li>
            <li><a href="/logout" class="btn">&#8635; Exit</a></li>
        {{/if_eq}}
    {{else}}
    {{/if}}
    </div>
</header>