<header>
    <h1>Data Crowd</h1>
    <div class="button-container">
        <button class="btn">&#8962; Home</button>
        <button class="btn">Monitoring</button>
        <button class="btn">Analytics</button>
        <button class="btn">&#8635;</button>
    </div>
</header>