{{!-- GENERAL HEADER THAT DYNAMICALLY CHANGES BASED ON THE USER --}}
<div class="header-container">
    <div class="header_navbar" id="myTopnav">

        <a href="/home">
            <img src="/images/logo.png" class="logo">
        </a>

        <ul class="links">
            
            
            <li><a href="/about">About</a></li>

            
            <li><a href="/features">Features</a></li>
            

            <li><a href="/roadmap">Roadmap</a></li>

            
            <li><a href="/team">Contact</a></li>

            

            <li><a href="/faq">FAQ &dtrif;</a>
                <ul class="dropdown">
                    <li><a class = "dropdow-element" href="/account_page">Profile</a></li>
                    <li><a class = "dropdow-element" href="/logout">Logout</a></li>
                    
                </ul>
            </li>

            

        </ul>
    </div>
</div>