<header>
    <h1><a href="/home">Data Crowd</a></h1>
    <div class="button-container">
    {{#if userId}}
        
        {{#if_eq user.role 'business'}}
            <ul>
                <li><button onclick="location.href='/home'" class="btn">&#8962; Home</button></li>
                <li><button onclick="location.href='/monitoring'" class="btn">Monitoring</button></li>
                <li><button onclick="location.href='/analytics'" class="btn">Analytics</button></li>
                <li><button onclick="location.href='/logout'" class="btn">&#8635; Exit</button></li>
            </ul>
        {{/if_eq}}

        {{#if_eq user.role 'admin'}}
            <li><button onclick="location.href='/home'" class="btn">&#8962; Home</button></li>
            <li><button onclick="location.href='/monitoring'" class="btn">Monitoring</button></li>
            <li><button onclick="location.href='/analytics'" class="btn">Analytics</button></li>
            <li><button id="suggestions_button" class="btn">Suggestions</button></li>
            <li><button id="heatmaps_button" class="btn">Heatmaps</button></li>
            <li><button onclick="location.href='/logout'" class="btn">&#8635; Exit</button></li>
        {{/if_eq}}

        {{#if_eq user.role 'citizen'}}
            <li><button onclick="location.href='/home'" class="btn">&#8962; Home</button></li>
            <li><button id="suggestions_button" class="btn">Suggestions</button></li>
            <li><button id="heatmaps_button" class="btn">Heatmaps</button></li>
            <li><button onclick="location.href='/logout'" class="btn">&#8635; Exit</button></li>
        {{/if_eq}}
    {{else}}
    {{/if}}
    </div>
</header>