<div id="map"></div>
<div id="grafanaContainer" style="display: none;">
    {{#if_eq business.name "Caravel"}}
        
        <div class="grafana-subcontainer">
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/aecr497nqky68c/caravel?from=1739265470719&to=1739287070719&timezone=browser&orgId=2&theme=light&panelId=1&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/aecr497nqky68c/caravel?from=1739265903500&to=1739287503500&timezone=browser&orgId=2&theme=light&panelId=2&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="grafana-subcontainer">
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/aecr497nqky68c/caravel?from=1739265903500&to=1739287503500&timezone=browser&orgId=2&theme=light&panelId=3&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/aecr497nqky68c/caravel?from=1739265903500&to=1739287503500&timezone=browser&orgId=2&theme=light&panelId=4&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
        </div>
    {{/if_eq}}

    {{#if_eq business.name "University of Patras"}}
        <div class="grafana-subcontainer">
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/eecr8avpt1edcf/datacrowd-uni?from=1739279571979&to=1739301171979&timezone=browser&orgId=2&theme=light&panelId=4&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/eecr8avpt1edcf/datacrowd-uni?from=1739279571979&to=1739301171979&timezone=browser&orgId=2&theme=light&panelId=3&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
        </div>

        <div class="grafana-subcontainer">
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/eecr8avpt1edcf/datacrowd-uni?from=1739279710411&to=1739301310411&timezone=browser&orgId=2&theme=light&panelId=2&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
            <iframe src="https://labserver.sense-campus.gr:8087/d-solo/eecr8avpt1edcf/datacrowd-uni?from=1739279710411&to=1739301310411&timezone=browser&orgId=2&theme=light&panelId=1&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
        </div>
    {{/if_eq}}
</div>
<script async src="/js/load_google_api.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
        


