<div id="map"></div>
<div id="grafanaContainer" style="display: none;">
    <iframe src="https://labserver.sense-campus.gr:8087/d-solo/cea3pjwio8ikgb/car-dashboards?from=1739064616078&to=1739086216078&timezone=browser&orgId=2&panelId=1&__feature.dashboardSceneSolo" width="450" height="200" frameborder="0"></iframe>
</div>
<script async src="/js/load_google_api.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
        


