
<div class="monitoring-analytics">
    <div class="graph-container">
        <div id="grafanaContainer" style="display: none;">
            <div style="width: 90%;" id="chart"></div>
            <script type="module" src="/js/data_charts.js"></script>
        </div>
    </div>
    <div id="map"></div>
</div>
    

<script async src="/js/load_google_api.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/map.js"></script>
        


