<div id="map"></div>
<div id="grafanaContainer" style="display: none;">
    GRAFANA
</div>
<script async src="/js/load_google_api.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map.js"></script>
        


