<div id="map_buy_access"></div>
<script async src="/js/load_google_api.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map_buy_access.js"></script>