<div id="top-right-controls">
      <div id="generalButtonContainer" class="general-button-container">
        <button id="locationButton" class="btn">Your Current Location</button>
        <button id="heatmaps_button" class="btn">Heatmaps</button>
        <button id="change-gradient" class="btn">Change Gradient</button>
        <button id="change-opacity" class="btn">Change Opacity</button>
        <button id="change-radius" class="btn">Change Radius</button>
        <button onclick="location.href='/logout'" class="btn">&#8635; Exit</button>
        <button id="infoButton" class="btn">✉️</button>
      </div>
    </div>