<div id="top-left-controls">

      
        <div class="search-controls">

          <div class="search">
            <span class="search-icon material-symbols-outlined">
              <a href="#">
                <img src="/images/search.svg" alt="search" />
              </a>
            </span>
            <input
              class="search-input"
              id="origin_input"
              type="seach"
              name="query"
              placeholder="Your Location"
            />
            <img src="/images/arrow_forward.svg" alt="arrow" class="arrow" />
            <input
              class="search-input"
              id="destination_input"
              type="seach"
              name="query"
              placeholder="e.g. Πάρκο Ειρήνης"
            />
          </div>


          <div class="travel-mode-controls">

            <label class="radio-container">
              <input
                type="radio"
                class="radio"
                id="radio-1"
                name="travel_mode"
                value="DRIVING"
              />
              <img src="/images/directions_car.svg" alt="driving" />
            </label>

            <label class="radio-container">
              <input
                type="radio"
                class="radio"
                id="radio-2"
                name="travel_mode"
                value="WALKING"
              />
              <img src="/images/directions_walk.svg" alt="walking" />
            </label>

            <label class="radio-container">

              <input
                type="radio"
                class="radio"
                id="radio-3"
                name="travel_mode"
                value="TRANSIT"
              />
              <img src="/images/directions_transit.svg" alt="transit" />
            </label>

          </div>

          <div class="times-container">


            <div class="time-container">

              <label for="departureTime">Departure:</label>
              <input type="date" id="departureDate">
              <input
                type="time"
                id="departureTime"
                name="departureTime"
                value="08:00"
              />
              
            </div>

          
            <div class="time-container">
              <label for="arrivalTime">Arrival:</label>
              <input type="date" id="arrivalDate">
              <input
                type="time"
                id="arrivalTime"
                name="arrivalTime"
                value="16:00"
              />
            </div>
          </div>
          <button class="btn" id="get_directions" type="submit">Get Directions</button>

        </div>
      

    </div>