First_Milestone/desktop.ini
Second_Milestone/desktop.ini
First_Milestone/Mockups/desktop.ini
Second_Milestone/graphs/desktop.ini
Second_Milestone/images/desktop.ini
Second_Milestone/other_teams/desktop.ini
Second_Milestone/Presentations/desktop.ini
.env
public/index.html
index.html
index.js
style.css
/node_modules
