First_Milestone/desktop.ini
Second_Milestone/desktop.ini
First_Milestone/Mockups/desktop.ini
Second_Milestone/graphs/desktop.ini
Second_Milestone/images/desktop.ini
Second_Milestone/other_teams/desktop.ini
Second_Milestone/Presentations/desktop.ini
.env
public/index.html
index.html
index.js
style.css
/node_modules
test.mjs
test.txt
public/js/misc.js
TODO.txt
TODO.txt
TODO_.txt
data/fill_db.sql
data/fill_db1.sql
public/js/map_old_ver.js
public/js/map_old.js
Report/Second_Milestone/Presentations/~$architecture_final.pptx
Report/Second_Milestone/Presentations/~$Datacrowd_final.pptx
Report/Final_Milestone/~$DataCrowd_Final_Presentation.pptx
