

<div class="container">
    <h1>Our Features</h1>
    {{#each features}}
    <div class="feature">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
    </div>
    {{/each}}
</div>
