

<div id="user-id" data-value="{{userId}}"></div>
<div id="user-role" data-value="{{user.role}}"></div>
<div id="heatmapData" data-value="{{json influxData}}"></div>

{{#if userId}}
    
    {{> user_controls}}
    {{> map }}
  
{{else}}

  <div class="greeting-container">
    <h1 class="greeting-text">Welcome to our site!</h1>
    <p class="greeting-text">Please sign in or register to continue.</p>
  </div>
  <div class="button-container">
    <button onclick="location.href='/login'" class="btn">Log In</button>
    <button onclick="location.href='/register'" class="btn">Register</button>
  </div>
  
{{/if}}



