<form class="form-container"  action="/register" method="post">
        <h1>Register</h1>
        <div class="input-box">
            <input type="text" name='username' placeholder="Username" required>

        </div>

        <div class="input-box">
            <input type="password" name='password' placeholder="Password" required>

        </div>

        <div class="input-box">
            <input type="text" name='role' placeholder="Role" required>

        </div>
        
        <button type="submit" class="btn">Sign up</button>

        <div class="register-link">
            <p>Already have an account? <a href="/login">Login.</a></p>
        </div>
        
    </form>