*{
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

html
{
  height: 100vh;
  width: 100vw;
}

:root{
 font-size: 10px;
}

/* Smooth Scrolling */
html{
 scroll-behavior: smooth;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/* HEADER */
.header-container{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(182, 182, 182);
  z-index: 1000;

}

.header_navbar{
  width: 100%;
  /* height: 10vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

.logo{
   width: 150px;
   cursor: pointer;
}

.header_navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   position: relative;
}

.header_navbar ul li a{
   text-decoration: none;
   color: #000000;
   text-transform: uppercase;
   font-size: 1.5em;
}

.header_navbar ul li::after{
   content:'';
   height: 2px;
   width: 0;    
   background-color: #000000;
   position: absolute;
   left: 0;
   bottom: -5px;
   transition: 0.7s;
}

.header_navbar ul li:hover::after{
   width: 100%;
}

.header_navbar ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  width: 100%

}

.header_navbar ul li:hover > ul,
.header_navbar ul li ul:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250%;
  text-align: left;
  padding-top: 20%;
  background-color: #a78c8ccc;
  box-shadow: 0px 3px 5px -1px #000000;
  border-radius: 15px;
}

.header_navbar ul li ul li {
  clear: both;
  width: 80%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

.header_navbar ul li ul li:hover::after {
  width: 100%;
}

.header_navbar ul li ul li::after {
  content:'';
  height: 2px;
  width: 0;    
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.7s;
}

a {
  text-decoration: none;
}

.logo-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 100px;
  height: 100px;
}

/* FOOTER */
.main-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* MAIN CONTENT */
.main-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 100px; */
}

/* GENERAL BUTTON */
.btn{
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  
}

/* THE MAP */
#map{
  height: 90%;
  width: 100%; 
  margin-top: 5.5%;
}

/* TOP LEFT CONTROLS */
#top-left-controls{
  display: flex;
  flex-direction: column;
}

.input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-results{
  --padding: 14px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #f6f6f6;

  margin: 10px;
  
  z-index: 2000; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */

}

.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result{
  display: inline-block;
  padding: 10px 10px 10px 10px;
  width: 200px;
  margin: 10px;
  letter-spacing: 2px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  
}

#results-list-origin{
  margin-right: 100px;
}

.search-input{
  width: max-content;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  color:#333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;


}

.arrow{
  padding-right: 50px;
}

.other-controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* TOP RIGHT CONTROLS */
.general-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-button-container .btn{
  width: 200px;
}


/* LOGIN/REGISTER Forms */
.form-container{
  background: transparent;
  border: 2px solid rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(10px);
  color: #000000;
  border-radius: 15px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.form-container h1{
  font-size: 3.6em;
  text-align: center;
}

.input-box{
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
  gap: 50px;
}

.input-box input{
  width: 90%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(22, 93, 224, 0.2);
  border-radius: 40px;
  font-size: 1.5em;
  color: #000000;
  padding-left: 15px
}

.input-box input::placeholder{
  color: #000000;
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

.remember-forgot label input{
  accent-color: #000000;
}

.remember-forgot a{
  color: #000000;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.register-link{
  font-size: 14px;
  text-align: center;
}

.register-link p a{
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}

