/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


  body { font-family: Arial, sans-serif; text-align: center; }
  #map { height: 400px; width: 80%; margin: auto; }
  .button-container { margin: 20px; display: flex; justify-content: center; gap: 15px; }
  .btn { padding: 10px 20px; background: black; color: white; border: none; cursor: pointer; }
  .btn:hover { background: #333; }

  .places-list{
    color: #333;
  }